.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

/* basic elements */
#error_message {
  margin-top: 2em;
  background-color: red;
  font-size: 4em
}

body{
  background-image: url("http://www.pptback.com/uploads/flower-love-backgrounds-powerpoint.jpg");
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  height:100%;
  margin:0;
  padding:100px;
  font-family:Trebuchet MS,Arial;
  font-size:80%;
}
img{
  margin:0;
  padding:0;
  border:none;
}

h1{
  padding:0;
  margin:0;
}
a.logo {
  position:absolute;
  left:0;
  top:68px;
  background: url(logo.jpg) center no-repeat;
  height:133px;
  width:100%;
  display:block;
}
h2{
  float:left;
  margin:5px 0 5px 20px!important;
  margin:5px 0 5px 15px;
  padding:0 10px 5px 7px;
  width:840px;
  font-weight:normal;
  font-size:18px;
  color:#666;
}
h3{
  float:left;
  width:840px;
  font-weight:normal;
  font-size:16px;
  color:#666;
  margin:5px 0 5px 20px!important;
  margin:5px 0 5px 15px;
  padding:0 10px 5px 7px;
}
a{  color:#cc0505; font-weight:700; text-decoration:none; outline:none;}
a:hover{color:#777;text-decoration:none;outline:none;}


div label {
  display: inline-block;
  width: 200px;
}

